{% extends "base.html" %}
{% block content %}

    <div class="dashboard-form">
        <form>
        <h3 class="center">Admin Dashboard</h3><br>
        <table class="center" name="Staff" border="1">
        <caption>Registered Staff</caption>
        <tr>
            <td>Staff Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        <tr>
            <td>Staff Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        </table>

        <table class="center" name="Users" border="1">
        <caption>Registered Users</caption>
        <tr>
            <td>User Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        <tr>
            <td>User Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        </table>

        <table class="center" name="Registrations" border="1">
        <caption>Upcoming Registrations</caption>
        <tr>
            <th>User</th>
            <th>Staff</th>
            <th>Venue</th>
            <th>Action</th>
        </tr>
        
        {% for d in app_data %}
         <tr>
            <td>{{d.uname}}</td>
            <td>{{d.sname}}</td>
            <td>{{d.vname}}</td>
            <td><input type="Button" value="View"></td>
         </tr>
        {% endfor %}


        </table>
        </form>
    </div>

{% endblock %}
