<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div style="text-align: right;">
        <input type="text" name="searchtxt"> | <input type="button" value="Search">
    </div>

    <div class="dashboard-form">
        <form>
        <h3 class="center">Admin Dashboard</h3><br>
        <table class="center" name="Staff" border="1">
        <caption>Registered Staff</caption>
        <tr>
            <td>Staff Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        <tr>
            <td>Staff Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        </table>

        <table class="center" name="Users" border="1">
        <caption>Registered Users</caption>
        <tr>
            <td>User Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        <tr>
            <td>User Name</td>
            <td><input type="Button" value="Edit"></td>
            <td><input type="Button" value="Delete"></td>
            <td><input type="Button" value="Blacklist"></td>
        </tr>

        </table>

        <table class="center" name="Registrations" border="1">
        <caption>Upcoming Registrations</caption>
        <tr>
            <td>User</td>
            <td>Staff</td>
            <td>Venue</td>
            <td><input type="Button" value="View"></td>
        </tr>

        <tr>
            <td>User</td>
            <td>Staff</td>
            <td>Venue</td>
            <td><input type="Button" value="View"></td>
        </tr>

        </table>
        </form>
    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
