<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>
    {% block content %}
    <!-- Subhtmls will be inserted here-->
    {% endblock %}
 <div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>


