<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Booking Details</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div style="text-align: right;">
        <button onclick="window.location.href='/admin/'">
            Back
        </button>
    </div>

    <div class="dashboard-form">
        <h3 class="center">Booking Details</h3><br>

        <div style="text-align: left;">
         <table class="center" name="User Record" style="margin-left: 0; margin-right: auto">
         <caption><b>Booking Details</b></caption>
         <tr>
            <td>User Name</td>
            <td>{{this_booking.trekker.user.full_name}}</td>
         </tr>

         <tr>
            <td>Trek Name</td>
            <td>{{this_booking.trek.trek_name}}</td>
         </tr>

         <tr>
            <td>Assigned Staff</td>
            <td>{{this_booking.trek.assigned_staff.user.full_name if this_booking.trek.assigned_staff else 'Not Assigned'}}</td>
         </tr>

        </table>
        </div>

        <table class="center" name="Booking Info" border="1">
        <caption>Booking Info</caption>
        <tr>
            <th>Booking ID</th>
            <th>Booking Date</th>
            <th>Status</th>
            <th>Payment Status</th>
        </tr>
        <tr>
            <td>{{this_booking.booking_id}}</td>
            <td>{{this_booking.booking_date}}</td>
            <td>{{this_booking.booking_status}}</td>
            <td>{{this_booking.payment_status}}</td>
        </tr>
        </table>
    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
