<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div class="input-form">
        <form>
        <h3 class="center">Edit Doctor Details</h3><br>
        <table class="center">
        <tr>
            <td><label>Staff Name :</label> :</label></td>
            <td><input type="text" name="s_name" placeholder="Enter your staff name"></td>
        </tr>
        <tr>
        <tr>
            <td><label>Department :</label></td>
            <td><input type="text" name="dept" placeholder="Enter your department"></td>
        </tr>

        <tr>
            <td><label>Experience :</label></td>
            <td><input type="text" name="exp" placeholder="Enter your years of Experience"></td>
        </tr>

        <tr>
            <td><label>Address :</label></td>
            <td><textarea rows=5 cols=20 name="address" placeholder="Enter your address"></textarea></td>
        </tr>

        

        <tr>
            <td><input type="submit" value="Update"></td>
        </tr>
        </table>
        </form>
    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
