<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Edit Staff Details</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div class="navlinks">
        <a href="/staff/">Dashboard</a> |
        <a href="/staff/profile">Profile</a> |
        <a href="/logout">Logout</a>
    </div>

    <div class="input-form">
        <form method="POST" action="/staff/profile">
        <h3 class="center">Edit Staff Details</h3><br>
        <table class="center">
        <tr>
            <td><label>Dinosaur Speciality :</label></td>
            <td><input type="text" name="dino_speciality" value="{{my_profile.dino_speciality if my_profile else ''}}" placeholder="Enter your specialization"></td>
        </tr>

        <tr>
            <td><label>Experience (Years) :</label></td>
            <td><input type="text" name="experience_years" value="{{my_profile.experience_years if my_profile else ''}}" placeholder="Enter your years of experience"></td>
        </tr>

        <tr>
            <td><label>Contact :</label></td>
            <td><input type="text" name="contact" value="{{my_profile.contact if my_profile else ''}}" placeholder="Enter your contact number"></td>
        </tr>

        <tr>
            <td><input type="submit" value="Update"></td>
        </tr>
        </table>
        </form>
    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
