{% extends "base.html" %}
{% block content %}
    <div class="input-form">
        <form action="/login/" method="POST">
        <h3 class="center">Login</h3><br>
        <table class="center">
        <tr>
            <td><label>Email Id :</label></td>
            <td><input type="email" name="email-id" placeholder="Enter your email id"></td>
        </tr>
        <tr>
            <td><label>Password :</label></td>
            <td><input type="password" name="password" placeholder="Enter your password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
            <td><a href="/register">New User?</a></td>
        </tr>
        <tr>
            <td colspan="2" class=""center><a href="/"><input type="button" value="Home"></a></td>
        </tr>
        <tr>
            <td colspan="2"><h6>{{error_msg}}</h6></td>
        </tr>
        </table>
        </form>
    </div>
{% endblock %}
