<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div class="input-form">
        <form>
        <h3 class="center">Register new user</h3><br>
        <table class="center">
        <tr>
            <td><label>Email Id :</label></td>
            <td><input type="email" name="email-id" placeholder="Enter your email id"></td>
        </tr>
        <tr>
            <td><label>User Name :</label></td>
            <td><input type="text" name="user-name" placeholder="Enter your user name"></td>
        </tr>

        <tr>
            <td><label>Password :</label></td>
            <td><input type="password" name="password" placeholder="Enter your password"></td>
        </tr>
        
        <tr>
            <td><label>User Type :</label></td>
            <td>
                <select name="uType">
                    <option value="None" selected>None</option>
                    <option value="Trekking Staff">Trekking Staff</option>
                    <option value="User(Trekker)">User(Trekker)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Speacialization :</label></td>
            <td><input type="text" name="position" placeholder="Enter your position"></td>
        </tr>
        <tr>
            <td><label>Address :</label></td>
            <td><textarea rows=5 cols=20 name="address" placeholder="Enter your address"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="Signup"></td>
            <td><a href="login.html">Existing User?</a></td>
        </tr>
        </table>
        </form>
    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
