<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Trekking History</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div class="navlinks">
        <a href="/user/">Dashboard</a> |
        <a href="/user/bookings">My Bookings</a> |
        <a href="/user/history">History</a> |
        <a href="/user/profile">Profile</a> |
        <a href="/logout">Logout</a>
    </div>

    <div class="dashboard-form">

        <h3 class="center">Trekking History</h3><br>

        <table class="center" name="History" border="1">
        <caption>History</caption>
        <tr>
            <th>Sl No.</th>
            <th>Trek Name</th>
            <th>Completed On</th>
            <th>Final Status</th>
            <th>Remarks</th>
        </tr>

        {% for h in history_list %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{h.trek.trek_name}}</td>
            <td>{{h.trek_history.completed_on}}</td>
            <td>{{h.trek_history.final_status}}</td>
            <td>{{h.trek_history.remarks}}</td>
        </tr>
        {% else %}
        <tr><td colspan="5">No trekking history yet</td></tr>
        {% endfor %}

        </table>

    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
