<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Register</title>
</head>
<body>
 <div class="container">
    <div class="center" >
        <h2>Welcome to Jurrassic Trekking Services !</h2>
    </div>

    <div style="text-align: right;">
        <input type="text" name="searchtxt"> | <input type="button" value="Search">
    </div>

    <div class="dashboard-form">

        <div class="center">User Details</div><br>

        <table>
            <tr>
                <td>Name :</td>
                <td>XXXXX</td>
            </tr>

            <tr>
                <td>Staff :</td>
                <td>XXXXX</td>
            </tr>

            <tr>
                <td>Department :</td>
                <td>XXXXX</td>
            </tr>
        </table>


        <table class="center" name="History" border="1">
        <caption>History</caption>
        <tr>
            <th>Sl No.</th>
            <th>Date</th>
            <th>Diagonosis remarks</th>
            <th>Prescription remarks</th>
        </tr>

        <tr>
            <td>1</td>
            <td>xx/xx/xxxx</td>
            <td>xxxxxxx</td>
            <td>xxxxxxx</td>
        </tr>

        <tr>
            <td>2</td>
            <td>xx/xx/xxxx</td>
            <td>xxxxxxx</td>
            <td>xxxxxxx</td>
        </tr>

        <tr>
            <td>3</td>
            <td>xx/xx/xxxx</td>
            <td>xxxxxxx</td>
            <td>xxxxxxx</td>
        </tr>

        </table>

    </div>
    
<div class="center">Copy rights reserverd to Jurrassic Trekking Services, 2026</div>
 </div>
</body>
</html>
